---
layout: base-layout.njk
pagination:
  data: collections.project
  size: 4
  reverse: false
  alias: projects
---

  <section id="" style="background-image: url('img/header.jpg'); background-size: cover; background-repeat: no-repeat" class="text-gray-600 body-font min-h-full">
    <!-- <div id="gallery-background"></div> -->
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Schilder De Wilde
        </h1>
        <p class="mb-8 leading-relaxed">Uw partner voor alle schilder en behangwerken!</p>
        <div class="flex justify-center">
          <button class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg">Vraag uw offerte aan</button>
        </div>
      </div>
      <div class="lg:max-w-3xl lg:w-full md:w-1/2 w-5/6">
        {# <img class="object-cover object-center rounded" alt="hero" src="img/header-2.jpg"> #}
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Onze diensten</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s"></p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-red-500 inline-flex"></div>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
        {% for service in collections.service %}
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-red-100 text-red-500 mb-5 flex-shrink-0">
            {{service.data.icon | safe }}
          </div>
          <div class="flex-grow">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">{{ service.data.title }}</h2>
            <p class="leading-relaxed text-base">Schilderen is onze passie...</p>
            <a href="{{service.url | url }}" class="mt-3 text-red-500 inline-flex items-center">Lees meer
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        {% endfor %}
        
      </div>
      <!-- <button class="flex mx-auto mt-16 text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Button</button> -->
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-16 mx-auto">
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Projecten</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s"></p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-red-500 inline-flex"></div>
        </div>
      </div>
      <div class="flex flex-wrap -m-4">
        {% for project in projects %}
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="img/{{project.data.img}}" alt="content">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">{{project.data.title}}</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
              <a href="{{ project.url | url }}" class="mt-3 text-red-500 inline-flex items-center">Lees meer
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        {% endfor %}
        
        <button class="flex mx-auto mt-16 text-white bg-red-500 border-0 py-2 p px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Bekijk meer projecten</button>

      </div>
    </div>
  </section>

  {% include "partials/form-section.njk" %}

 