---
layout: base-layout.njk 
---

<section class="text-gray-600 body-font">
    <div class="container px-5 py-16 mx-auto">
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">{{title}}</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s"></p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-red-500 inline-flex"></div>
        </div>
      </div>
    </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -mb-10 text-center">
      <div class="sm:w-1/2 mb-10 px-4">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Schilderen is onze passie</h1>
        {{intro}}
        
      </div>
      <div class="sm:w-1/2 mb-10 px-4">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="/img/header-2.jpg">
        </div>
      </div>
    </div>
  </div>
</section>


{% include "partials/form-section.njk" %}

